.otp__verification{
display: grid;
    height: 89vh;
    place-items: center;
}

.otp__input{
    width: 3rem!important;
    text-align: center;
    height: 2rem;
    font-size: 20px;
  }

  .separator__style{
    margin-left: 5px;
    margin-right: 5px;
  }
  .otp__container{
    justify-content: center;
  }
