.check-out{
    margin-left: 4% !important;
    margin-right: 4% !important;
    margin-top: 5% !important;
}

.check-out-right{
    margin-left: 4% !important;
    margin-right: 6% !important;
    margin-top: 7% !important;
}
.item{
    margin-left: 4% !important;
    margin-right: 4% !important;
}
.item-desc{
    margin-left: 10px !important;
    margin-right: 4% !important;
}